#field {

}
#field .player {
	/*position: absolute;*/
}
#field .card {
	position: absolute;
	border: 1px solid #227;
	border-radius: 4px;
	background: url(../image/tamcuc2.png) no-repeat;
}
#field .btn-sort-card {
	position: absolute;
	top: 400px; left: 800px;
	border: 1px solid #448;
	border-radius: 4px;
	padding: 10px 16px;
	font-family: sans-serif;
	font-weight: bold;
	color: #fff;
	background-color: #77c;
	cursor: pointer;
}
#field .btn-sort-card:hover {
	background-color: #55a;
}

#field .card.Tuong-ong {
	background-position: -1px -2px;
}
#field .card.Tuong-ba {
	background-position: -2px -209px;
}
#field .card.Sy-dieu {
	background-position: -54px -3px;
}
#field .card.Sy-den {
	background-position: -54px -210px;
}
#field .card.Tuong-vang {
	background-position: -106px -2px;
}
#field .card.Tuong-den {
	background-position: -106px -212px;
}
#field .card.Xe-hong {
	background-position: -160px -4px;
}
#field .card.Xe-den {
	background-position: -160px -214px;
}
#field .card.Phao-dieu {
	background-position: -266px -3px;
}
#field .card.Phao-den {
	background-position: -266px -213px;
}
#field .card.Ma-dieu {
	background-position: -213px -4px;
}
#field .card.Ma-den {
	background-position: -214px -214px;
}
#field .card.Tot-do {
	background-position: -319px -5px;
}
#field .card.Tot-den {
	background-position: -319px -214px;
}